section#count-time {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border: 10px solid $header-bg;



    .time-container {
      padding: 1rem;
      span {
        font-size: 2rem;
        font-family: "Rubik Mono One", monospace;
        font-weight: bold;
        color: darken($header-bg,50%);
      }
    }
    .active-task p{
        color: rgb(94, 148, 156);
        padding: 10px 1rem;
        border-top: 1px solid;
        border-bottom: 1px solid;
        // border: 1px solid;

        // border-radius: 20px;
        text-transform: capitalize;
        font-weight: 600;
        text-align: center;
        min-width: 300px;
        width: 80%;
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.1);

        white-space: wrap;
        position:relative;
        &::before{
          content:"Active Task:";
          position:absolute;
          top: -23px;
          font-size: .8rem;
          white-space: nowrap;
        }
    }
    .time-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        button{
            @include btnStyle;
            text-shadow: 2px 2px 7px #fff;
            border: 1px solid gray;

        }
    }
  }
}






@media screen and (max-width:500px){
  section#count-time {
    .container {
      
  
      
      .active-task p{
          
          white-space: wrap;
      }
      
    }
  }
  
}