

section#joke{
    .container{
        background-color: $header-bg;
        transition: .6s all ease;

         display: grid;
         place-items:center;
         padding: 3rem;
        color: #6A2B2A;
        font-weight: 600;
        gap: 1rem;
        #joke-btn{

            @include btnStyle;
            background-color: #fff;
            color: $header-bg;
            border: 1px solid $header-bg;
        }
        p{
            font-size: 1.3rem;
            padding: 2rem;
            color: white;
            text-shadow: 1px 1px 5px white;
            text-align:center;
            border-radius: 20px;
            background-color: rgba(0,0,0,.1);


        }
    }
}