section#tasks {
  .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 10px solid $header-bg;
    // border-left: 10px solid $header-bg;
    // border-right: 10px solid $header-bg;
    // border-bottom: 10px solid $header-bg;
    min-height: 400px;

    .task-add-container{
        width: 400px;
        padding: 1rem;
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 15px;

        input{
            padding: 10px 1rem 10px 1.6rem;
            font-size: 1.2rem;
            background-color: #93c2cd;
            
            border: none;
            border-radius: 15px;
            transition: .5s all ease;

            &:hover{
                opacity: .9;
            }
            &:focus{

outline: none;
background-color: #8faeb5;
            }

        }
        button{

            text-shadow: 1px 1px 5px white;
            @include btnStyle;

        }
    }
    ul#task-container {
        width: 400px;
      list-style: none;
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
      justify-self: start;
      gap: 5px;
      li {
        padding: 8px 8px 1.7rem 8px;
        font-size: .8rem;
        padding-left: 2rem;
        position: relative;
        cursor: pointer;
        border-left: 5px solid transparent;
        border-radius: 4px;
        background-color:rgb(220, 224, 225);
        p{
            width: 85%;
            white-space: wrap;
            max-height: 80px;
            overflow:auto;
            text-transform: capitalize;
        }
        
        &.checked{
            text-decoration: line-through;
            color: rgb(104, 101, 101);
            background-color:rgb(179, 212, 179);
            order: -1;
        }
        &.active{
            border-color: rgb(88, 133, 19);
            background-color: #adc1c4;
        }
        span.checkbox{
            position: absolute;
            width: 20px;
            height: 20px;
            left: 3px;
            top: 13%;
            background-color: rgb(195, 195, 211);
            object-fit: contain;
            border-radius: 50%;
            border: 2px solid black;
            cursor: pointer;

        }
        &.checked .checkbox{
            font-size: .9rem;
            color:black;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 3px;
            top: 13%;
            background-color: rgb(40, 179, 40);
            object-fit: contain;
            border-radius: 50%;
            border: 2px solid rgb(36, 127, 132);

        }
        span.delete{
            font-size: 1.3rem;
            position:absolute;
            color: rgb(255, 85, 0);
            cursor: pointer;
            right: 10px;
            top: 1px;
        }
        span.edit-span{
            font-size: 1.2rem;

            position:absolute;
            cursor: pointer;
            right: 33px;
            top: 1px;

        }
        .task-time{
            content:"11123";
            font-size: .8rem;
            position: absolute;
            color: rgb(36, 127, 132);
            opacity: .8;
            left: 32px;
            bottom: 5px;

        }
        .pomo-span{

            font-size: .8rem;
            position: absolute;
            color: rgb(36, 127, 132);
            opacity: .8;
            left: 70px;
            bottom: 5px;
            &::before{
                content: " //  ";
            }
            &::after{
                content: " pomo";
            }
        }

        .color-span{
            width: 60px;
            height: 20px;
            position: absolute;
            right: 10px;
            bottom: 3px;

            input{
                width: 100%;
                height: 100%;
                cursor:crosshair;
            }
            &::before{
                content:"Theme: ";
                position: absolute;
                left: -55px;
                top: 1px;
                color: $header-bg;

            }
        }


        cursor:move;
        &.dragging{
            opacity: .5;
        }
        &.over{
            background-color: darkgray;
        }

      }
    }
  }
}





@media screen and (max-width: 500px){
    section#tasks {
        .container {
         
          ul#task-container {
              width: 350px;
              li {
               
                p{
                    width: 65%;
                }
            }
          }
        }
      }
      
}